.container{
    width: 70%;
    margin:20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-Icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    display: flex;
    align-items: center;
    justify-content: center;
}

